[submodule "snippets/ruby-mode"]
	path = snippets/ruby-mode
	url = https://github.com/bmaland/yasnippet-ruby-mode
[submodule "elisp/rails-reloaded"]
	path = elisp/rails-reloaded
	url = https://github.com/r0man/emacs-rails-reloaded
[submodule "elisp/distel"]
	path = elisp/distel
	url = https://github.com/massemanet/distel.git
